<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Epic Task</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="container">

    <h1 class="title">Tarefas Pendentes</h1>

    <p class="notification is-success" th:if="${message}" th:text="${message}"></p>

    <a href="/form" class="button is-success mb-2">
        <span class="icon is-small">
            <i class="fas fa-check"></i>
        </span>
        <span>Nova Tarefa</span>
    </a>

    <section class="grid is-col-min-10">
        <div class="card cell has-background-grey-dark" th:each="task: ${tasks}">
            <header class="card-header has-background-primary">
                <p class="card-header-title" th:text="${task.title}"></p>
                <span class="tag iis-warning" th:text="${task.score} + pts"></span>
            </header>

            <div class="card-content">
                <div class="content" th:text="${task.description}"></div>
                <progress class="progress is-primary" th:value="${task.status}" max="100"></progress>
            </div>

            <footer class="card-footer">
                <a href="#" class="card-footer-item">Save</a>
                <a href="#" class="card-footer-item">Edit</a>
                <a href="#" class="card-footer-item">Delete</a>
            </footer>
        </div>
    </section>

</body>
</html>